*{
    box-sizing: border-box;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background-color: blue ;
    color: aliceblue;
    width: 400px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.currency-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.currency-container, select{
    border: none;
    border-radius: 5px;
    padding: 10px;
}
input{
    font-size: 25px;
    text-align: right;
    width: 100px;
    background-color: transparent;
    border: none;
    color: white;
}
input:focus, select:focus{
    /* border kalksın */
    outline: none;
}

#equal{
    font-size: 25px;
}
.exchangeRate{
    font-weight: 600;
}